@model FIT5032_Ass.Models.Room

@{
    ViewBag.Title = "Errorinfor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Errorinfor</title>
</head>
<body>
    <div>
        <h3>The room name is invalid. Please check it again.</h3>
    </div>
</body>
</html>
